:root {
    --color-background: #FFEDDF;
    --color-text: #083D77 ;
    --color-heading: #EA4861;
    --color-tabs: rgba(8, 61, 119);
    /* --color-tabs: #419F99; */
    --color-sucess: rgb(15, 197, 15);
    --color-ch2: #461220;
    --color-ch3: #FCBEEB;

    --nav-height: 5vh;
}