:root {
    --color-background: #FFEDDF;
    --color-text: rgb(8, 61, 119) ;
    --color-heading: #EA4861;
    --color-tabs: rgba(8, 61, 119);
    --color-text-opacity: rgba(9, 64, 124, 0.6);
    /* --color-tabs: #419F99; */
    --color-sucess: rgb(15, 197, 15);
    --color-ch2: #461220;
    --color-ch3: #FCBEEB;

    --nav-height: 5vh;
    --base-margin: 2vh;
}