@import 'colors.css';

#home{
    width: 100%;
    height: 100vh;
    background-image: url("/Images/templateBackground.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-end;
}

#home-content {
    max-width: 40%;
    color: var(--color-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vw;
    align-items: center;
}

.card {
    display: flex;
    align-items: center;
    border: 1px solid var(--color-background); /* Add a border with 80% opacity */
    background-color: var(--color-text-opacity); /* White background with 80% opacity */
    border-radius: 15px; /* Rounded corners */
    padding: 1vw; /* Padding inside the container */
    padding-left: 0;
    margin: var(--base-margin); /* Add some margin to ensure it doesn't touch the edges */
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
    width: 100%;
}

.card-graphic {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-graphic img {
    width: 5vw; /* Adjust the size as needed */
    height: 5vw; /* Adjust the size as needed */
    border-radius: 50%; /* Make the image circular */
    object-fit: cover; /* Ensure the image covers the entire area */
}

.card i  {
    /* width: 7vw; Adjust the size as needed */
    /* height: 7vw; Adjust the size as needed */
    /* border-radius: 50%; Make the icon circular */
    /* object-fit: cover; Ensure the icon covers the entire area */
    /* margin-right: var(--base-margin); */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vw; 
}

.card-content {
    width: 80%;
    flex: 1; /* Allow the text to take up the remaining space */
    text-align: left; /* Align text to the left */
    color: var(--color-background);
}

.highlight-p {
    font-size: 3.5vh;
}

.highlight-p span {
    color: var(--color-ch3);
}

@media only screen and (max-width: 600px), (orientation: portrait) {
    #home{
        background-image: url("/Images/templateBackgroundSmall.png");
    }
    #home-content{
        max-width: 45%;
        margin: 2vh;
    }
    .card {
        flex-direction: column;
        padding: 0;
        flex-basis: auto;
        padding-bottom: 2vh;
        padding-top: 2vh;
        overflow: auto;
    }
    .card-graphic {
        height: 5vh;
        margin-bottom: 1vh;
    }
    .card-graphic img {
        width: 4vh;
        height: 4vh;
    }
    .card-graphic i {
        font-size: 3vh;
    }
    .card-content {
        font-size: 1.5vh;
        margin: 0;
        text-align: center;
        align-content: center;
        overflow: auto; 
    }
    .highlight-p {
        font-size: 2vh;
    }
}