@import 'colors.css';

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--color-tabs);
    height: var(--nav-height);
}

#nav-alternate p{
    display: none;
}

nav ul {
    display: flex;  
    justify-content: center;
    overflow: visible;
}
nav ul li{
    display: inline-block;
    list-style: none;
    align-items: right;
    margin: 1vh 3vw;
    overflow: visible;
}
nav ul li a{
    color: var(--color-background);
    text-decoration:  none;
    font-size: 2.2vh;
    font-weight: 600;
    position: relative;
}
nav ul li a::after{ /*Explore the hover further*/
    content: '';
    width: 0;
    height: 3px; /*Thickness of the underline can be constant*/
    background-color: #FCBEEB;
    position: absolute;
    left: 0;
    bottom: -0.5vh;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}
nav ul li a:hover::after{
    width: 100%;
}

nav .fa-solid{
    display: none; /*Hide the icons in normal view*/
}
/* Navbar ends*/
@media only screen and (max-width: 600px), (orientation: portrait) {
    nav {
        justify-content: space-between;
    }

    #nav-alternate p{
        margin-left: 2vh;
        display: block;
        color: var(--color-background);
        font-family: 'Pacifico', cursive; /* Apply the fancy cursive font */
    }

    nav .fa-solid {
        display: block;
        font-size: 3vh;
        color: var(--color-background);
        cursor: pointer;
        margin-left: auto; /* Push the icon to the right */
        margin-right: 2vh;
    }

    nav .fa-xmark {
        display: none;
    }

    nav ul {
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
        background: var(--color-text-opacity);
        position: fixed;
        top: var(--nav-height);
        width: 100%;
        height: auto;
        padding-top: 1vh;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 2vh;
    }
    nav ul li a::after{
        bottom: -0.5vh;
    }
    nav ul.show {
        right: 0;
    }
}

@media only screen and (min-width: 601px) {
    nav ul {
        display: flex !important; /* Ensure the nav ul is displayed in normal view */
    }

    nav .fa-solid {
        display: none !important; /* Hide the icons in normal view */
    }
}