@import 'colors.css';

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--color-tabs);
    height: var(--nav-height);
    /* opacity: 0.5; */
    /* margin: -6px -15%; */
}
.logo{
    width: 100px;
}
nav ul {
    display: flex;
    justify-content: center;
}
nav ul li{
    display: inline-block;
    list-style: none;
    align-items: right;
    margin: 5px 20px;
    overflow: visible;
}
nav ul li a{
    color: var(--color-background);
    text-decoration:  none;
    font-size: 18px;
    font-weight: 600;
    position: relative;
}
nav ul li a::after{ /*Explore the hover further*/
    content: '';
    width: 0;
    height: 3px;
    background-color: #FCBEEB;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}
nav ul li a:hover::after{
    width: 100%;
}

nav .fa-solid{
    display: none;
}
/* Navbar ends*/
