@import 'colors.css';

*{
    margin:0;
    padding:0;
    overflow: hidden;
    font-family: "Oxygen", sans-serif; /*Explore it a bit*/
    box-sizing: border-box;
}
/* html{
    scroll-behavior: smooth;
} */
body{
    background-color: var(--color-background);
    color: var(--color-text);
}
.container{
    padding: 5% 5%;
}
.column-flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.custom-heading {
    font-size: 5vh;
    font-weight: 60%;
    color: var(--color-heading);
    margin-bottom: 2vh;
}
i {
    vertical-align: middle;
    margin-right: 0.5vw;
}
#page {
    height: calc(100vh - var(--nav-height));
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    /* height: 90%; */
    border-radius: 15px;
}
.about-col-2{
    flex-basis:60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 60%;
    color: var(--color-heading);
}
/* projects */
#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.3),#ff0051);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #ff0051;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    width: 60px;
    height: 60px;
    background-color: whitesmoke;
    border-radius: 20px;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    font-size: 2vh;
    display: block;
    margin: 1vw auto;
    width: fit-content;
    border: 1px solid var(--color-tabs);
    background-color: var(--color-tabs);
    padding: 2vh 3vh;
    border-radius: 6px;
    color: whitesmoke;
    text-decoration: none;
    transition: background-color 0.5s;
}
.btn:hover{
    background-color: #ff004f;
}

/* css for small screens */

@media only screen and (max-width: 600px) {
    *{
        overflow: hidden;
    }
    .custom-heading{
        font-size: 4vh;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 20px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 14px;
        margin-right: 20px;
    }

    .contact-left, .contact-right{
        flex-basis : 100%;
    }

    .social-icons{
        margin-right: 10px;
    }
}